services:
  mysql:
    image: mysql:8.2
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: space_invader_database
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -uuser -ppassword"]
      interval: 30s
      timeout: 5s
      retries: 2
      start_period: 5s
  space_invaders:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      DB_NAME: space_invader_database
      DB_USER: user
      DB_PASS: password
      DB_HOST: mysql
      PORT: 8080
      GAME_URL: localhost:8080
    ports:
      - "8080:8080"
